@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');

:root {
  --primary-bg: #cda63c;
  --secondary-bg: #ffe7d8;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--secondary-bg);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
}


p {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.8;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: black;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', sans-serif;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin: auto;
}
.section {
  max-width: 1024px;
  margin: auto;
  padding: 3.5rem 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section {
      padding: 2rem 0;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* body {
    background: pink;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* body {
    background: lightblue;
  } */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* body {
    background: lightgreen;
  } */
}